li{
  font-size: 30px;
  cursor: pointer;
}

h1{
  font-family: serif;
  font-size: 30px;

}

li:hover{
  text-decoration: underline;
}


.jumbotron{
  background-color: #99A08D;

}
p{
  display: none;
}
